In [1]:
import pandas as pd

In [2]:
groc_df = pd.read_pickle('data/train_sample1.pkl')

In [3]:
groc_df.head()

   id       date  store_nbr  item_nbr  unit_sales  onpromotion
0   0 2013-01-01         25    103665         7.0          NaN
1   1 2013-01-01         25    105574         1.0          NaN
2   2 2013-01-01         25    105575         2.0          NaN
3   3 2013-01-01         25    108079         1.0          NaN
4   4 2013-01-01         25    108701         1.0          NaN

In [4]:
item_df = pd.read_csv('data/items.csv')

In [5]:
item_df.head()

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [6]:
groc_df=groc_df.set_index('item_nbr').join(item_df.set_index('item_nbr'))

In [7]:
groc_df['item_nbr'] =groc_df.index

In [8]:
store_df=pd.read_csv('data/stores.csv')

In [9]:
store_df.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [10]:
groc_df=groc_df.set_index('store_nbr').join(store_df.set_index('store_nbr'))

In [11]:
groc_df.head()

,id,date,unit_sales,onpromotion,family,class,perishable,item_nbr,city,state,type,cluster
store_nbr,,,,,,,,,,,,
1,324276,2013-01-10,1.0,NaN,GROCERY I,1093,0,96995,Quito,Pichincha,D,13
1,362634,2013-01-11,1.0,NaN,GROCERY I,1093,0,96995,Quito,Pichincha,D,13
1,486204,2013-01-14,1.0,NaN,GROCERY I,1093,0,96995,Quito,Pichincha,D,13
1,644444,2013-01-18,2.0,NaN,GROCERY I,1093,0,96995,Quito,Pichincha,D,13
1,770056,2013-01-21,1.0,NaN,GROCERY I,1093,0,96995,Quito,Pichincha,D,13

In [12]:
groc_df['store_nbr'] =groc_df.index

In [13]:
oil_df=pd.read_csv('data/oil.csv')

In [14]:
oil_df.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [15]:
groc_df=groc_df.set_index('date').join(oil_df.set_index('date'), how='left')

In [16]:
groc_df['date'] = groc_df.index

In [17]:
holiday_df = pd.read_csv('data/holidays_events.csv')

In [18]:
holiday_df.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [19]:
holiday_group_df = holiday_df.groupby('date')

In [20]:
#holiday_group_df.count()

In [21]:
transactions_df = pd.read_csv('data/transactions.csv')

In [22]:
transactions_df.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [24]:
groc_df=groc_df.set_index('date')

In [25]:
groc_df = groc_df.join(transactions_df.set_index('date'), how='left')

MemoryError:

In [ ]:
groc_df['date'] = groc_df.index

In [26]:
max(list(holiday_group_df.count()['type']))

4

In [1]:
exit

# DO NOT RUN BELOW

In [5]:

import pandasql as pdsql

pysql = lambda q: pdsql.sqldf(q, globals())

In [ ]:
df1 = pysql("\
   select \
     groc_df.*, item_df.family, item_df.class, item_df.perishable \
   from \
     groc_df \
     inner join item_df on item_df.item_nbr = groc_df.item_nbr")

In [ ]:
df1