In [14]:
import pandas as pd

In [15]:
training = pd.read_csv('data/train_sample1.csv')

In [16]:
training.date = pd.to_datetime(training['date'])

In [17]:
training.head()

   id       date  store_nbr  item_nbr  unit_sales  onpromotion
0   0 2013-01-01         25    103665         7.0          NaN
1   1 2013-01-01         25    105574         1.0          NaN
2   2 2013-01-01         25    105575         2.0          NaN
3   3 2013-01-01         25    108079         1.0          NaN
4   4 2013-01-01         25    108701         1.0          NaN

In [18]:
training.to_pickle('data/train_sample1.pkl')