In [1]:
import pandas as pd

In [2]:
groc_df_v = pd.read_csv('data/groc_df_v.csv')

c:\python27\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
groc_df_v.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048574 entries, 0 to 1048573
Data columns (total 21 columns):
ts_id             1048574 non-null int64
ts_date           1048574 non-null object
ts_store_nbr      1048574 non-null int64
ts_item_nbr       1048574 non-null int64
ts_unit_sales     1048574 non-null float64
ts_onpromotion    0 non-null float64
i_family          1048574 non-null object
i_class           1048574 non-null int64
i_perishable      1048574 non-null int64
s_city            1048574 non-null object
s_state           1048574 non-null object
s_type            1048574 non-null object
s_cluster         1048574 non-null int64
o_dcoilwtico      672267 non-null float64
t_transactions    1048574 non-null int64
h_is_holiday      1048574 non-null int64
h_type            85285 non-null object
h_locale          85285 non-null object
h_locale_name     85285 non-null object
h_description     85285 non-null object
h_transferred     85285 non-null object
dtypes: float64(3), int64(8), object(10)
memory usage: 128.0+ MB

In [7]:
groc_df_v.describe()

,ts_id,ts_store_nbr,ts_item_nbr,ts_unit_sales,ts_onpromotion,i_class,i_perishable,s_cluster,o_dcoilwtico,t_transactions,h_is_holiday
count,1.048574e+06,1.048574e+06,1.048574e+06,1.048574e+06,0.0,1.048574e+06,1.048574e+06,1.048574e+06,672267.000000,1.048574e+06,1.048574e+06
mean,5.242875e+05,2.648310e+01,6.177414e+05,8.723622e+00,NaN,1.919302e+03,2.204270e-01,8.730377e+00,94.153816,1.858945e+03,8.133427e-02
std,3.026974e+05,1.648730e+01,3.035136e+05,1.681813e+01,NaN,1.054159e+03,4.145348e-01,4.750497e+00,1.046420,9.831249e+02,2.733479e-01
min,1.000000e+00,1.000000e+00,9.699500e+04,-1.680000e+02,NaN,1.002000e+03,0.000000e+00,1.000000e+00,92.970000,5.070000e+02,0.000000e+00
25%,2.621442e+05,1.000000e+01,3.580960e+05,2.000000e+00,NaN,1.044000e+03,0.000000e+00,4.000000e+00,93.200000,1.133000e+03,0.000000e+00
50%,5.242875e+05,2.700000e+01,5.894030e+05,4.000000e+00,NaN,1.126000e+03,0.000000e+00,9.000000e+00,93.810000,1.558000e+03,0.000000e+00
75%,7.864308e+05,4.300000e+01,8.745930e+05,9.000000e+00,NaN,2.720000e+03,0.000000e+00,1.300000e+01,95.150000,2.361000e+03,0.000000e+00
max,1.048574e+06,5.400000e+01,1.118683e+06,1.000000e+03,NaN,7.034000e+03,1.000000e+00,1.700000e+01,96.090000,5.401000e+03,1.000000e+00

In [8]:
groc_df_v.columns.values

array(['ts_id', 'ts_date', 'ts_store_nbr', 'ts_item_nbr', 'ts_unit_sales',
       'ts_onpromotion', 'i_family', 'i_class', 'i_perishable', 's_city',
       's_state', 's_type', 's_cluster', 'o_dcoilwtico', 't_transactions',
       'h_is_holiday', 'h_type', 'h_locale', 'h_locale_name',
       'h_description', 'h_transferred'], dtype=object)

In [9]:
groc_df_v.head()

,ts_id,ts_date,ts_store_nbr,ts_item_nbr,ts_unit_sales,ts_onpromotion,i_family,i_class,i_perishable,s_city,...,s_type,s_cluster,o_dcoilwtico,t_transactions,h_is_holiday,h_type,h_locale,h_locale_name,h_description,h_transferred
0,1,2013-01-01,25,105574,1.0,NaN,GROCERY I,1045,0,Salinas,...,D,1,NaN,770,1,Holiday,National,Ecuador,Dia de Wendy Magnificenta,True
1,2,2013-01-01,25,105575,2.0,NaN,GROCERY I,1045,0,Salinas,...,D,1,NaN,770,1,Holiday,National,Ecuador,Dia de Wendy Magnificenta,True
2,3,2013-01-01,25,108079,1.0,NaN,GROCERY I,1030,0,Salinas,...,D,1,NaN,770,1,Holiday,National,Ecuador,Dia de Wendy Magnificenta,True
3,4,2013-01-01,25,108701,1.0,NaN,DELI,2644,1,Salinas,...,D,1,NaN,770,1,Holiday,National,Ecuador,Dia de Wendy Magnificenta,True
4,5,2013-01-01,25,108786,3.0,NaN,CLEANING,3044,0,Salinas,...,D,1,NaN,770,1,Holiday,National,Ecuador,Dia de Wendy Magnificenta,True

In [11]:
groc_df_v_item_nbr= groc_df_v.sort_values(by="ts_item_nbr")

In [13]:
groc_df_v_item_nbr.head(100)

,ts_id,ts_date,ts_store_nbr,ts_item_nbr,ts_unit_sales,ts_onpromotion,i_family,i_class,i_perishable,s_city,...,s_type,s_cluster,o_dcoilwtico,t_transactions,h_is_holiday,h_type,h_locale,h_locale_name,h_description,h_transferred
850531,850532,2013-01-23,2,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,13,95.06,1951,0,NaN,NaN,NaN,NaN,NaN
567277,567278,2013-01-16,3,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,8,94.28,3108,0,NaN,NaN,NaN,NaN,NaN
961303,961304,2013-01-25,47,96995,2.0,NaN,GROCERY I,1093,0,Quito,...,A,14,95.15,3213,0,NaN,NaN,NaN,NaN,NaN
840076,840077,2013-01-22,44,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,5,96.09,3349,0,NaN,NaN,NaN,NaN,NaN
644443,644444,2013-01-18,1,96995,2.0,NaN,GROCERY I,1093,0,Quito,...,D,13,95.61,1745,0,NaN,NaN,NaN,NaN,NaN
645417,645418,2013-01-18,2,96995,3.0,NaN,GROCERY I,1093,0,Quito,...,D,13,95.61,1901,0,NaN,NaN,NaN,NaN,NaN
400275,400276,2013-01-11,51,96995,1.0,NaN,GROCERY I,1093,0,Guayaquil,...,A,17,93.60,1658,0,NaN,NaN,NaN,NaN,NaN
918132,918133,2013-01-24,44,96995,2.0,NaN,GROCERY I,1093,0,Quito,...,A,5,95.35,3121,0,NaN,NaN,NaN,NaN,NaN
550773,550774,2013-01-15,37,96995,1.0,NaN,GROCERY I,1093,0,Cuenca,...,D,2,93.26,1406,0,NaN,NaN,NaN,NaN,NaN
777340,777341,2013-01-21,8,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,8,NaN,2688,0,NaN,NaN,NaN,NaN,NaN
761054,761055,2013-01-20,45,96995,3.0,NaN,GROCERY I,1093,0,Quito,...,A,11,NaN,4169,0,NaN,NaN,NaN,NaN,NaN
847928,847929,2013-01-22,51,96995,1.0,NaN,GROCERY I,1093,0,Guayaquil,...,A,17,96.09,1489,0,NaN,NaN,NaN,NaN,NaN
486203,486204,2013-01-14,1,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,13,94.27,1780,0,NaN,NaN,NaN,NaN,NaN
314673,314674,2013-01-09,44,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,5,93.08,4006,0,NaN,NaN,NaN,NaN,NaN
381400,381401,2013-01-11,26,96995,1.0,NaN,GROCERY I,1093,0,Guayaquil,...,D,10,93.60,725,0,NaN,NaN,NaN,NaN,NaN
985902,985903,2013-01-26,24,96995,3.0,NaN,GROCERY I,1093,0,Guayaquil,...,D,1,NaN,2358,0,NaN,NaN,NaN,NaN,NaN
519566,519567,2013-01-14,47,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,14,94.27,3145,0,NaN,NaN,NaN,NaN,NaN
318253,318254,2013-01-09,47,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,14,93.08,3370,0,NaN,NaN,NaN,NaN,NaN
353301,353302,2013-01-10,44,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,5,93.81,3323,0,NaN,NaN,NaN,NaN,NaN
612412,612413,2013-01-17,8,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,8,95.49,2591,0,NaN,NaN,NaN,NaN,NaN
393427,393428,2013-01-11,45,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,11,93.60,3083,0,NaN,NaN,NaN,NaN,NaN
448186,448187,2013-01-13,5,96995,1.0,NaN,GROCERY I,1093,0,Santo Domingo,...,D,4,NaN,1510,0,NaN,NaN,NaN,NaN,NaN
670536,670537,2013-01-18,38,96995,1.0,NaN,GROCERY I,1093,0,Loja,...,D,4,95.61,1591,0,NaN,NaN,NaN,NaN,NaN
952721,952722,2013-01-25,37,96995,1.0,NaN,GROCERY I,1093,0,Cuenca,...,D,2,95.15,1500,0,NaN,NaN,NaN,NaN,NaN
970784,970785,2013-01-26,4,96995,2.0,NaN,GROCERY I,1093,0,Quito,...,D,9,NaN,1750,0,NaN,NaN,NaN,NaN,NaN
669519,669520,2013-01-18,37,96995,1.0,NaN,GROCERY I,1093,0,Cuenca,...,D,2,95.61,1458,0,NaN,NaN,NaN,NaN,NaN
275799,275800,2013-01-08,44,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,5,93.21,3593,0,NaN,NaN,NaN,NaN,NaN
962549,962550,2013-01-25,48,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,14,95.15,2262,0,NaN,NaN,NaN,NaN,NaN
610355,610356,2013-01-17,6,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,13,95.49,1547,0,NaN,NaN,NaN,NaN,NaN
1011426,1011427,2013-01-27,2,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,13,NaN,1937,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728360,728361,2013-01-20,2,96995,3.0,NaN,GROCERY I,1093,0,Quito,...,D,13,NaN,2006,0,NaN,NaN,NaN,NaN,NaN
571646,571647,2013-01-16,7,96995,2.0,NaN,GROCERY I,1093,0,Quito,...,D,8,94.28,1619,0,NaN,NaN,NaN,NaN,NaN
841304,841305,2013-01-22,45,96995,2.0,NaN,GROCERY I,1093,0,Quito,...,A,11,96.09,2759,0,NaN,NaN,NaN,NaN,NaN
491324,491325,2013-01-14,6,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,13,94.27,1545,0,NaN,NaN,NaN,NaN,NaN
511188,511189,2013-01-14,37,96995,1.0,NaN,GROCERY I,1093,0,Cuenca,...,D,2,94.27,1305,0,NaN,NaN,NaN,NaN,NaN
324275,324276,2013-01-10,1,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,13,93.81,1679,0,NaN,NaN,NaN,NaN,NaN
596705,596706,2013-01-16,45,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,11,94.28,3183,0,NaN,NaN,NaN,NaN,NaN
927559,927560,2013-01-25,1,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,13,95.15,1770,0,NaN,NaN,NaN,NaN,NaN
442368,442369,2013-01-12,51,96995,1.0,NaN,GROCERY I,1093,0,Guayaquil,...,A,17,NaN,1873,1,Work Day,National,Ecuador,Recupero puente primer dia del ano,False
975152,975153,2013-01-26,8,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,8,NaN,2854,0,NaN,NaN,NaN,NaN,NaN
770991,770992,2013-01-21,2,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,13,NaN,1864,0,NaN,NaN,NaN,NaN,NaN
772030,772031,2013-01-21,3,96995,2.0,NaN,GROCERY I,1093,0,Quito,...,D,8,NaN,2930,0,NaN,NaN,NaN,NaN,NaN
640752,640753,2013-01-17,49,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,11,95.49,1568,0,NaN,NaN,NaN,NaN,NaN
236537,236538,2013-01-07,44,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,5,93.20,3871,0,NaN,NaN,NaN,NaN,NaN
1017032,1017033,2013-01-27,7,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,8,NaN,1299,0,NaN,NaN,NaN,NaN,NaN
768302,768303,2013-01-20,51,96995,1.0,NaN,GROCERY I,1093,0,Guayaquil,...,A,17,NaN,1756,0,NaN,NaN,NaN,NaN,NaN
678079,678080,2013-01-18,47,96995,2.0,NaN,GROCERY I,1093,0,Quito,...,A,14,95.61,3302,0,NaN,NaN,NaN,NaN,NaN
1013766,1013767,2013-01-27,4,96995,3.0,NaN,GROCERY I,1093,0,Quito,...,D,9,NaN,1799,0,NaN,NaN,NaN,NaN,NaN
879278,879279,2013-01-23,44,96995,3.0,NaN,GROCERY I,1093,0,Quito,...,A,5,95.06,3704,0,NaN,NaN,NaN,NaN,NaN
930817,930818,2013-01-25,4,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,9,95.15,1498,0,NaN,NaN,NaN,NaN,NaN
402879,402880,2013-01-12,2,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,13,NaN,1998,1,Work Day,National,Ecuador,Recupero puente primer dia del ano,False
387295,387296,2013-01-11,37,96995,1.0,NaN,GROCERY I,1093,0,Cuenca,...,D,2,93.60,1447,0,NaN,NaN,NaN,NaN,NaN
964768,964769,2013-01-25,50,96995,1.0,NaN,GROCERY I,1093,0,Ambato,...,A,14,95.15,2264,0,NaN,NaN,NaN,NaN,NaN
437615,437616,2013-01-12,47,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,14,NaN,4278,1,Work Day,National,Ecuador,Recupero puente primer dia del ano,False
449233,449234,2013-01-13,6,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,D,13,NaN,2219,0,NaN,NaN,NaN,NaN,NaN
523958,523959,2013-01-14,51,96995,3.0,NaN,GROCERY I,1093,0,Guayaquil,...,A,17,94.27,1491,0,NaN,NaN,NaN,NaN,NaN
521840,521841,2013-01-14,49,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,11,94.27,1525,0,NaN,NaN,NaN,NaN,NaN
479665,479666,2013-01-13,47,96995,2.0,NaN,GROCERY I,1093,0,Quito,...,A,14,NaN,4796,0,NaN,NaN,NaN,NaN,NaN
561449,561450,2013-01-15,49,96995,1.0,NaN,GROCERY I,1093,0,Quito,...,A,11,93.26,1571,0,NaN,NaN,NaN,NaN,NaN
408421,408422,2013-01-12,7,96995,3.0,NaN,GROCERY I,1093,0,Quito,...,D,8,NaN,1416,1,Work Day,National,Ecuador,Recupero puente primer dia del ano,False

In [16]:
groc_df_v_item_nbr.groupby("ts_item_nbr").min()

,ts_id,ts_date,ts_store_nbr,ts_unit_sales,ts_onpromotion,i_family,i_class,i_perishable,s_city,s_state,s_type,s_cluster,o_dcoilwtico,t_transactions,h_is_holiday,h_type,h_locale,h_locale_name,h_description,h_transferred
ts_item_nbr,,,,,,,,,,,,,,,,,,,,
96995,196657,2013-01-06,1,1.000,NaN,GROCERY I,1093,0,Ambato,Azuay,A,1,93.08,725,0,inf,inf,inf,inf,False
103501,9389,2013-01-02,9,1.000,NaN,CLEANING,3008,0,Babahoyo,Azuay,B,3,92.97,509,0,inf,inf,inf,inf,False
103520,8186,2013-01-02,1,1.000,NaN,GROCERY I,1028,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
103665,578,2013-01-02,1,1.000,NaN,BREAD/BAKERY,2712,1,Ambato,Azuay,A,1,92.97,520,0,inf,inf,inf,inf,False
105574,1,2013-01-01,1,1.000,NaN,GROCERY I,1045,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
105575,2,2013-01-01,1,1.000,NaN,GROCERY I,1045,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
105576,9392,2013-01-02,9,1.000,NaN,GROCERY I,1045,0,Babahoyo,Azuay,B,3,92.97,509,0,inf,inf,inf,inf,False
105577,581,2013-01-02,1,1.000,NaN,GROCERY I,1045,0,Ambato,Azuay,A,1,92.97,520,0,inf,inf,inf,inf,False
105693,1599,2013-01-02,1,1.000,NaN,GROCERY I,1034,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
105737,582,2013-01-02,1,1.000,NaN,GROCERY I,1044,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
105857,583,2013-01-02,1,1.000,NaN,GROCERY I,1092,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
106716,584,2013-01-02,1,1.000,NaN,GROCERY I,1032,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
108079,3,2013-01-01,1,1.000,NaN,GROCERY I,1030,0,Ambato,Azuay,A,1,92.97,509,0,inf,inf,inf,inf,False
108696,585,2013-01-02,1,1.000,NaN,DELI,2636,1,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
108698,586,2013-01-02,1,1.000,NaN,DELI,2644,1,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
108701,4,2013-01-01,1,1.000,NaN,DELI,2644,1,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
108786,5,2013-01-01,1,1.000,NaN,CLEANING,3044,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
108797,6,2013-01-01,1,1.000,NaN,GROCERY I,1004,0,Ambato,Azuay,A,1,92.97,509,0,inf,inf,inf,inf,False
108831,590,2013-01-02,1,-1.885,NaN,POULTRY,2416,1,Ambato,Azuay,A,1,92.97,626,0,inf,inf,inf,inf,False
108833,9400,2013-01-02,2,1.000,NaN,EGGS,2502,1,Babahoyo,Azuay,B,3,92.97,511,0,inf,inf,inf,inf,False
108862,591,2013-01-02,1,1.000,NaN,GROCERY I,1062,0,Ambato,Azuay,A,1,92.97,542,0,inf,inf,inf,inf,False
108952,7,2013-01-01,1,1.000,NaN,CLEANING,3024,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
111223,593,2013-01-02,1,1.000,NaN,GROCERY I,1034,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
111397,8,2013-01-01,1,1.000,NaN,GROCERY I,1072,0,Babahoyo,Azuay,A,1,92.97,520,0,inf,inf,inf,inf,False
112830,595,2013-01-02,1,1.000,NaN,GROCERY I,1044,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
114778,596,2013-01-02,1,1.000,NaN,GROCERY I,1016,0,Ambato,Azuay,A,3,92.97,507,0,inf,inf,inf,inf,False
114790,9,2013-01-01,1,1.000,NaN,GROCERY I,1004,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
114799,598,2013-01-02,1,1.000,NaN,PERSONAL CARE,4126,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
114800,10,2013-01-01,1,1.000,NaN,PERSONAL CARE,4126,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
115267,11,2013-01-01,1,1.000,NaN,CLEANING,3034,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105214,575,2013-01-01,1,1.000,NaN,GROCERY I,1074,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
1105215,17210,2013-01-02,18,1.000,NaN,GROCERY I,1074,0,Quito,Pichincha,B,16,93.14,1323,0,inf,inf,inf,inf,False
1105228,1590,2013-01-02,1,1.000,NaN,GROCERY I,1074,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
1105299,2690,2013-01-02,1,1.000,NaN,GROCERY I,1074,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
1105831,8176,2013-01-02,1,1.000,NaN,GROCERY I,1092,0,Ambato,Azuay,A,1,92.97,1034,0,inf,inf,inf,inf,False
1106968,333995,2013-01-10,9,1.000,NaN,CLEANING,3034,0,Cuenca,Azuay,B,3,93.26,538,0,inf,inf,inf,inf,False
1109116,2691,2013-01-02,1,1.000,NaN,BEVERAGES,1120,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
1109173,3891,2013-01-02,3,1.000,NaN,GROCERY II,1236,0,Guayaquil,Guayas,A,5,92.97,1437,0,inf,inf,inf,inf,False
1109211,79616,2013-01-03,49,26.738,NaN,MEATS,2302,1,Quito,Pichincha,A,11,92.97,1468,0,inf,inf,inf,inf,False
1109235,35949,2013-01-02,1,4.895,NaN,FROZEN FOODS,2242,0,Ambato,Azuay,A,1,92.97,664,0,inf,inf,inf,inf,False
1109325,576,2013-01-01,1,1.000,NaN,BEVERAGES,1136,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
1109326,1592,2013-01-02,1,-5.000,NaN,BEVERAGES,1136,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
1109389,577,2013-01-01,1,1.000,NaN,GROCERY I,1034,0,Ambato,Azuay,A,1,92.97,542,0,inf,inf,inf,inf,False
1109390,1594,2013-01-02,1,1.000,NaN,GROCERY I,1034,0,Ambato,Azuay,A,1,92.97,507,0,inf,inf,inf,inf,False
1109391,1595,2013-01-02,1,-1.000,NaN,GROCERY I,1034,0,Ambato,Azuay,A,1,92.97,509,0,inf,inf,inf,inf,False
1110679,19807,2013-01-02,24,1.000,NaN,SEAFOOD,2850,1,Daule,El Oro,A,1,92.97,640,0,inf,inf,inf,inf,False
1111202,136051,2013-01-05,1,1.000,NaN,CLEANING,3030,0,Ambato,Azuay,A,1,93.08,509,0,inf,inf,inf,inf,False
1112839,357907,2013-01-10,2,1.000,NaN,CLEANING,3038,0,Ambato,Azuay,A,1,93.26,640,0,inf,inf,inf,inf,False
1112840,338799,2013-01-10,9,1.000,NaN,CLEANING,3038,0,Babahoyo,Azuay,B,3,93.26,509,0,inf,inf,inf,inf,False
1113847,2696,2013-01-02,1,1.000,NaN,DELI,2654,1,Ambato,Azuay,A,1,92.97,617,0,inf,inf,inf,inf,False
1113852,2697,2013-01-02,1,1.000,NaN,DELI,2654,1,Ambato,Azuay,A,1,92.97,511,0,inf,inf,inf,inf,False
1113872,10408,2013-01-02,9,1.000,NaN,GROCERY I,1045,0,Babahoyo,Azuay,B,3,92.97,538,0,inf,inf,inf,inf,False
1114566,445899,2013-01-13,2,1.000,NaN,BEVERAGES,1124,0,Ambato,Azuay,A,1,93.26,509,0,NaN,NaN,NaN,NaN,NaN
1114567,410618,2013-01-12,1,1.000,NaN,BEVERAGES,1124,0,Ambato,Azuay,A,1,94.27,616,0,inf,inf,inf,inf,False
1114749,2698,2013-01-02,1,1.000,NaN,CLEANING,3040,0,Ambato,Azuay,A,1,92.97,509,0,inf,inf,inf,inf,False
1114754,674450,2013-01-18,5,1.000,NaN,CLEANING,3030,0,Babahoyo,El Oro,A,3,95.06,509,0,NaN,NaN,NaN,NaN,NaN
1114903,850529,2013-01-23,1,1.000,NaN,CLEANING,3034,0,Ambato,Azuay,A,1,95.06,584,0,NaN,NaN,NaN,NaN,NaN
1114914,675681,2013-01-18,1,1.000,NaN,CLEANING,3038,0,Ambato,Azuay,A,1,95.06,509,0,NaN,NaN,NaN,NaN,NaN
1114924,678079,2013-01-18,2,1.000,NaN,BEVERAGES,1132,0,Guayaquil,Guayas,A,1,95.06,1691,0,NaN,NaN,NaN,NaN,NaN
1118683,8185,2013-01-02,1,1.000,NaN,AUTOMOTIVE,6806,0,Ambato,Azuay,A,1,92.97,542,0,inf,inf,inf,inf,False

In [21]:
len(set(groc_df_v['ts_item_nbr']))

1614

In [20]:
groc_df_v.columns.values

array(['ts_id', 'ts_date', 'ts_store_nbr', 'ts_item_nbr', 'ts_unit_sales',
       'ts_onpromotion', 'i_family', 'i_class', 'i_perishable', 's_city',
       's_state', 's_type', 's_cluster', 'o_dcoilwtico', 't_transactions',
       'h_is_holiday', 'h_type', 'h_locale', 'h_locale_name',
       'h_description', 'h_transferred'], dtype=object)

In [22]:
groc_df_v.h_is_holiday

0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
1048544    0
1048545    0
1048546    0
1048547    0
1048548    0
1048549    0
1048550    0
1048551    0
1048552    0
1048553    0
1048554    0
1048555    0
1048556    0
1048557    0
1048558    0
1048559    0
1048560    0
1048561    0
1048562    0
1048563    0
1048564    0
1048565    0
1048566    0
1048567    0
1048568    0
1048569    0
1048570    0
1048571    0
1048572    0
1048573    0
Name: h_is_holiday, dtype: int64